body {
    background-color: rgb(0, 0, 0);
}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
}
.header-bg {
    background-color: rgb(158, 158, 158);
}

.main-box {
    background-color: rgb(24, 9, 223);
    display: flex;
    justify-content: center;
}
