body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(24, 20px);
    grid-gap: 1px;
    width: 503px;
    height: 503px;
    border: solid 2px rgb(255, 255, 255);
    border-width: 2px 2px 2px 2px;
    padding: 1px;
}
.grid div {
    width: 18px;
    height: 18px;
}

.wall {
    background-color: blue;
}

.empty {
    background-color: black;
}

h2 {
    color: white;
}

h3 {
    margin-bottom: 10px;
    color: white;
}
