body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(28, 18px);
    grid-gap: 1px;
    width: fit-content;
    border: 2px solid white;
    padding: 1px;
}

.grid div {
    width: 18px;
    height: 18px;
}

.wall {
    background-color: blue;
}

.empty {
    background-color: rgb(0, 0, 0);
    position: relative;
}

.small-pellet::before,
.power-pellet::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.small-pellet::before {
    width: 4px;
    height: 4px;
    background-color: white;
}

.power-pellet::before {
    width: 8px;
    height: 8px;
    background-color: red;
}

.player {
    background-color: yellow;
    border-radius: 50%;
}

h2, h3 {
    color: white;
    margin-bottom: 5px;
}

p {
    color: white;
    margin: 5px 0;
}
